/* .about h1 {
    margin: 2%;
    font-size: 1em;
}

.about p {
    margin: 2%;
    text-align: justify;
    font-size: .6em;
} */

.proj {
    flex: 1;

    margin: 1vh;
    padding: 1vh;
    
    border: 3px solid #037171;
    border-radius: 25px;
    background-color: white;
    
    list-style: none;
    font-size: calc(10px + 2vmin);
}

.btn {
    border-radius: 25px;
    /* border: none; */
}