.projectList {
    border-top: 2em solid #247BA0;
    padding: 1em;
}

.flex-grid {
    display: flex;
    /* flex-flow: column wrap; */
}

@media (max-width: 500px) {
    .flex-grid {
      display: block;
    }
  }

  h2 {
    color: #171738;
  }