.proj {
    flex: 1;

    margin: 1vh;
    padding: 1vh;
    
    border: 3px solid #037171;
    border-radius: 25px;
    background-color: white;
    
    list-style: none;
    font-size: calc(10px + 2vmin);
}